@import "../../global.scss";

.section-title {
  margin: -5px 0 15px 0;
  font-size: 2.5rem;
  overflow: hidden;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
  @include mobile {
    font-size: 1rem;
  }
}
.admin{
  color:gray;
  font-size: 20px;;
  text-align: center;
}
.project {
  font-size: 30px;
  font-weight: 600;
  padding-left: 2em;
  padding-bottom:1.5em;
  margin: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: black;
  font-family: "Poppins", sans-serif;
  &::after {
    content: "";
    width: 120px;
    display: inline-block;
    margin: 4px 10px;
  }
  @include mobile {
    font-size: 15px;
    margin: 0;
    padding: 12px;
  }
}

.testimonials {
  background-color:beige;
  display: flex;
  padding: 1em;
  flex-wrap: wrap;
  justify-content: center;

  .section-title {
    font-size: 2.5rem;
    overflow: hidden;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
    @include mobile {
      font-size: 1rem;
    }
  }
  h3 {
    font-weight: 700;
    font-size: 26px;
    color: rgb(65, 201, 255);
    font-family: "Raleway", sans-serif;
    @include mobile {
      font-size: 15px;
    }
  }
  
  .container {
    overflow: hidden;
    background-color: rgb(15, 15, 15);
    text-align: center;
    border-radius: 1rem;
    width: 500px;
    min-height: 370px;
    margin: 2rem;
  }
  
  .banner-img {
    background-image: url(https://img.freepik.com/free-vector/online-shopping-banner-mobile-app-templates-concept-flat-design_1150-34865.jpg?w=740);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .name {
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(65, 201, 255);
  }

  .btn-cont{
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;

    
  .btn {
    border: none;
    font-size: .9rem;
    justify-content: center;
    align-items: center;
    padding: .1em;
    margin: .5em;
    padding: .2em;
    cursor: pointer;
    border-radius: 7px;
    font-weight: bold;
    color: white;
    background-color: rgb(34, 34, 34);
  }
}

  .description {
    font-size: 1rem;
    padding: .1em;
    margin: .2rem;
    color: #fff;
    @include mobile {
      font-size: 0.5rem;
    } 
  }
  .banner-img1 {
    background-image: url(https://uploads.golmedia.net/uploads/articles/article_media/14505814431609840161gol1.png?w=740);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img17 {
    background-image: url(https://img.freepik.com/premium-vector/chat-app-logo-sms-messenger-label-design-mobile-app-online-conversation-with-texting-message-ui-design-concept-vector-illustration_172533-1513.jpg?w=2000);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img15{
    background-image: url(https://freerangestock.com/sample/82687/project-management--with-copyspace.jpg);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img2 {
    background-image: url(https://static1.makeuseofimages.com/wordpress/wp-content/uploads/2022/01/url-shortener.jpg?q=50&fit=contain&w=1140&h=&dpr=1.5);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img3 {
    background-image: url(https://img.freepik.com/free-psd/youtube-video-player-mockup-3d-style_204659-77.jpg?w=740);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img4 {
    background-image: url(https://raw.githubusercontent.com/Thiru-cse/Fullstack-Developer/main/My-Project-Screenshots/Thiru-Weather%20Si.png);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img5 {
    background-image: url(https://www.sms-magic.com/wp-content/uploads/2021/01/Shorten-URL-1024x635.png);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img6 {
    background-image: url(https://www.canarahsbclife.com/content/dam/choice/saving-calculator/saving-banner.png);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img10 {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq1G_7Ebr4xGUAfzmtcsLsI7JhiT4DtAKZdRr9N904cm2B_LzgdzUOyYK6IAGuI-LGQ24&usqp=CAU);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   .banner-img18 {
    background-image: url(https://assets-global.website-files.com/619e763bb3de7b56e6107aeb/61f2b18150c961c24bf3ea31_white-office-desk-table-with-blank-sheet-text-pay-rent-keyboard-gavel-1.jpeg);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img26 {
    background-image: url(https://img.freepik.com/free-photo/top-view-pepperoni-pizza-with-mushroom-sausages-bell-pepper-olive-corn-black-wooden_141793-2158.jpg?w=2000);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
   .banner-img25 {
    background-image: url(https://download.logo.wine/logo/Stack_Overflow/Stack_Overflow-Logo.wine.png);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-img13 {
    background-image: url(https://connectoricons-prod.azureedge.net/releases/v1.0.1636/1.0.1636.3297/nationalizeioip/icon.png);
    height: 12rem;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

